<h2>The dojos:</h2>

{{#each dojo as |dojo|}}
  <h2>{{dojo-popularity dojo}}{{#link-to 'dojo' dojo.id}} {{dojo.name}} {{/link-to}}
  <button class="btn btn-warning" {{action 'addToFavorites' dojo}}><span class="glyphicon glyphicon-star"></span></button></h2>
{{/each}}
