<h1>ADMINISTRATORS, DO YOUR THING!</h1>

{{add-dojo dojo=dojo dojos=model addDojo="addDojo" updateDojo="updateDojo"}}

{{admin-dojo-list dojo=dojo updateDojo="updateDojo" deleteDojo='deleteDojo' dojos=model}}
