<nav class="navbar navbar-default">
  <h2 id="title"><a href="/">Angie's Fist!  Wha-POW!</a></h2>
  <div class="pull-right">
    {{#link-to 'admin'}}Admin{{/link-to}}
  </div>
</nav>

<div class="container">
  {{outlet}}

</div>
